.heading {
  text-align: center;
}
.data {
  margin-left: 200px;
  margin-right: 200px;
  background-color: darkturquoise;
  height: auto;
}
.title {
  text-align: center;
}
.nav-container{
    border: 2px solid ivory;
    background-color: #dedbdb;
}
.players {
  display: block;
}
.players li {
  display: block;
  background-color: lightgray;
    color: chocolate;
}
.seasons {
  display: block;
}
.seasons ul {
    background-color: darkgoldenrod;
    color: saddlebrown;
  }
.teams {
  display: block;
}
.teams ul {
    background-color: #8e5e5e;
    color: black;
  }
.datas {
  padding-left: 60px;
}
