body {
  margin: 0px;
}
.main {
  margin: 0;
  display: flex;
  width: 100%;
  background-color: darkcyan;
  justify-content: center;
}
.title {
  margin-top: 10px;
  border: 2px solid;
  margin-left: 10px;
  padding: 10px 20px;
  width: 100px;
  text-align: center;
  background-color: cadetblue;
}
.seasons {
  list-style-type: none;
}
.seasons ul {
  margin: 10px;
  list-style-type: none;
  text-align: center;
}
.season-text {
  margin-top: 10px;
  border: 2px solid;
  margin-left: 10px;
  padding: 10px 50px;
  background-color: cadetblue;
  display: flex;
  width: 100px;
  justify-content: center;
}
.teams {
  border: 2px solid;
  padding: 10px 30px;
  width: 20%;
  background-color: aliceblue;
}
.team-text {
  color: #f90704;
}
.players {
  border: 2px solid;
  background-color: #9ca2a2;
  margin-top: 10px;
  padding: 20px;
}
.play_data {
  margin: 30px;
  background-color: #45d2ab;
  height: 300px;
  border-radius: 15px;
  padding: 30px;
}

.rowvalue {
  padding-left: 20px;
  padding: 17px;
  display: flex;
}
.rowvalue div {
  width: 40%;
  font-size: 17px;
  padding-left: 30px;
}
.player-table {
  width: 50%;
  top: 30%;
  position: absolute;
  margin-left: 436px;
}
